* {
    user-select: none;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 100vh;
    background-image: url(img/forest-image.jpg);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}

.logo {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: rgba(19, 19, 19, 0.534);
    margin-bottom: 60%;
}

.logo-container-1 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 45%;
    height: 100%;
}
.logo-container-1 img {
    height: 120px;
}

.logo-container-2 {
    width: 45%;
    height: 100%;
}
.logo-container-2 p {
    justify-content: start;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 4em;
    font-family: 'Norse', sans-serif;
    font-weight: 600;
    color: rgb(219, 219, 219);
    margin-right: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 65%;
    background-color: rgb(248, 248, 248);
}

.text-container {
    width: 85%;
    font-size: large;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: rgb(41, 41, 41);
}

.b {
    color: red;
}

.form-container {
    height: 37%;
    width: 100%;
    background-color: white;
    box-shadow: 1px 5px 5px rgb(184, 184, 184);
}

.submit-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 10%;
    width: 80%;
}

#btn {
    background-color: rgba(10, 122, 31, 0.918);
    color: white;
    border: 1px solid rgba(80, 80, 80, 0.74);
    border-radius: 8px;

    width: 10rem;
    height: 2.8rem;

    grid-row: 1 / 1;

    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: 500;

    transition: all 0.4s;
}

#btn:hover {
    cursor: pointer;
    transform: scale(1.07);
}

.login-text {
    
}