* {
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url(img/forest-image.jpg);
}

.container {
    height: 100%;
    width: 65%;
    background-color: black;
}