* {
    user-select: none;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 100vh;
    background-image: url(img/forest-image.jpg);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}

.logo {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: rgba(19, 19, 19, 0.534);
    margin-bottom: 60%;
}

.logo-container-1 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 45%;
    height: 100%;
}
.logo-container-1 img {
    height: 120px;
}

.logo-container-2 {
    width: 45%;
    height: 100%;
}
.logo-container-2 p {
    justify-content: start;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 4em;
    font-family: 'Norse', sans-serif;
    font-weight: 600;
    color: rgb(219, 219, 219);
    margin-right: 200px;
}

.container {
    height: 100%;
    width: 65%;
    background-color: white;
}